@font-face {
	font-family: BebasNeue;
	src: url('../../assets/fonts/BebasNeue-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: BebasNeue;
	font-weight: 400;
	font-style: normal;
	src: url('../../assets/fonts/BebasNeue-Regular.ttf');
}

@font-face {
	font-family: AvenirNext;
	font-weight: 400;
	font-style: normal;
	src: url('../../assets/fonts/AvenirNextCyr-Regular.ttf');
}
