//colors
$primary: #fff;
$accent: #e75626;
$dark: #171719;
$asphalt: #1e1e20;
$grey: #323232;

//sizes
$font-size: 18px;

$base-font: BebasNeue, AvenirNext, -apple-system, BlinkMacSystemFont, Segoe UI,
	Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
	sans-serif;
