@import '../../globals/scss/variables';

.wrapper {
	margin-bottom: 26px;

	> p {
		font-weight: 700;
		font-size: 24px;
		margin-bottom: 8px;
	}

	> h5 {
		font-weight: 700;
		font-size: 32px;
		color: $accent;
	}
}
