@import '../../globals/scss/variables';

.main {
	position: relative;
	padding: 188px 0 60px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		> h1 {
			font-size: 120px;
			line-height: 0.95;
			max-width: 1007px;
			width: 100%;
			margin-top: -10px;

			> span {
				color: $dark;
				-webkit-text-stroke: 1px #fff;
			}
		}

		.planetBlock {
			position: absolute;
			top: 0;
			left: 34.5%;
			z-index: 2;
		}
	}
}

.text {
	margin-top: -26px;
}

.formSection {
	padding: 48px 0 86px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	.right {
		max-width: 668px;
		width: 100%;
	}
}
