@import '../../globals/scss/variables';

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 0;

	.logo {
		padding: 12px 86px;
		background: #5a5a5a;
	}

	.wallet {
		color: $accent;
		font-weight: 700;
		cursor: url('../../assets/delete-cursor.svg'), auto;
	}
}
